:root {
  --color-dracula-background: #282a36;
  --color-dracula-selection: #44475a; /* a.k.a. "Current line" */
  --color-dracula-foreground: #f8f8f2;
  --color-dracula-comment: #6272a4;
  --color-dracula-cyan: #8be9fd;
  --color-dracula-green: #50fa7b;
  --color-dracula-orange: #ffb86c;
  --color-dracula-pink: #ff79c6;
  --color-dracula-purple: #bd93f9;
  --color-dracula-red: #ff5555;
  --color-dracula-yellow: #f1fa8c;

  --color-faint-formatting: #666;
  --color-faint-formatting-alt: #999;
  --color-dracula-comment-lighter: #7282b4;
  --color-dracula-yellow-ish: #f4f9bf; /* 50/50 blend of -yellow and -foreground */
}

.theme-dark,
.theme-light {
  --background-primary: var(--color-dracula-background);
  --background-primary-alt: var(--color-dracula-selection);
  --background-secondary: var(--color-dracula-selection);
  --background-secondary-alt: var(--color-dracula-background);

  /* Dropdown border and section dividers in the settings */
  --background-modifier-border: #666;

  /* Button background */
  --interactive-accent: var(--color-dracula-comment);
  --interactive-accent-hover: var(--color-dracula-comment-lighter);

  /* Button text */
  --text-on-accent: var(--color-dracula-foreground);

  /* Note text */
  --text-normal: var(--color-dracula-foreground);
}

/*
 **************************************
 * Workspace (outside of the editor)
*/

.workspace-split.mod-left-split .workspace-tabs .workspace-leaf {
  /* don't let the left sidebar's top right corner touch the editor */
  border-top-right-radius: 6px;
}
.workspace-split.mod-right-split .workspace-tabs .workspace-leaf {
  /* don't let the right sidebar's top right corner touch the editor */
  border-top-left-radius: 6px;
}

.workspace-split.mod-right-split .workspace-tabs {
  /* don't let the right sidebar overlap its resize handle */
  padding-left: 4px;
}
.workspace-leaf-resize-handle {
  /* less noise if we don't see them until they are hovered */
  background-color: transparent;
}

.nav-files-container {
  /* don't let the selected filename touch the left nav pane */
  padding-left: 4px;
}

.workspace-leaf.mod-active .view-header {
  border-bottom-color: var(--color-dracula-purple);
}

/*
 **************************************
 * Editor/Preview: general layout
*/

.markdown-preview-view {
  /* align Preview with Editor */
  padding-left: 25px; /* 30px -> 25px */
  padding-right: 35px; /* 30px -> 35px */
}

/*
 **************************************
 * YAML front matter (metadata)
*/

.markdown-preview-view .frontmatter-container {
  margin: 0 0 1.5em 0;
}

/*
 **************************************
 * Headings
 * - Six Dracula colors (the "red" is not used)
 * - Sizes from 1em to 2em with 0.2em interval
 * - Same look in Editor and Preview (except for ###)
 * - Formatting (###) is header's font-size * 0.6
*/

.cm-s-obsidian .HyperMD-header,
.markdown-preview-view h1,
.markdown-preview-view h2,
.markdown-preview-view h3,
.markdown-preview-view h4,
.markdown-preview-view h5,
.markdown-preview-view h6 {
  font-weight: 600;
  line-height: 1.3 !important;
  padding: 0.2em 0 0.3em 0;
  margin: 0;
}

.cm-s-obsidian .HyperMD-header-1,
.markdown-preview-view h1 {
  color: var(--color-dracula-pink);
  font-size: 2em;
  padding-top: 0; /* h1 is special like this */
}
.cm-s-obsidian .HyperMD-header-2,
.markdown-preview-view h2 {
  color: var(--color-dracula-purple);
  font-size: 1.8em;
}
.cm-s-obsidian .HyperMD-header-3,
.markdown-preview-view h3 {
  color: var(--color-dracula-cyan);
  font-size: 1.6em;
}
.cm-s-obsidian .HyperMD-header-4,
.markdown-preview-view h4 {
  color: var(--color-dracula-green);
  font-size: 1.4em;
}
.cm-s-obsidian .HyperMD-header-5,
.markdown-preview-view h5 {
  color: var(--color-dracula-yellow);
  font-size: 1.2em;
}
.cm-s-obsidian .HyperMD-header-6,
.markdown-preview-view h6 {
  color: var(--color-dracula-orange);
  font-size: 1em;
}

.cm-s-obsidian .HyperMD-header .cm-header {
  /* inherit from its parent, .HyperMD-header, defined above */
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}
.cm-s-obsidian .HyperMD-header .cm-formatting-header {
  font-size: 0.6em;
}

/*
 **************************************
 * Paragraphs & lists
*/

.markdown-preview-view p {
  /* to align it with Editor, make padding-bottom match the height of one row */
  padding: 0 0 1.5em 0;
  margin: 0;
}

.markdown-preview-view ul,
.markdown-preview-view ol {
  /* like paragraphs, plus left padding */
  padding: 0 0 1.5em 2em;
  margin: 0;
}

.markdown-preview-view ul ul,
.markdown-preview-view ul ol,
.markdown-preview-view ol ul,
.markdown-preview-view ol ol {
  /* nested lists don't need vertical padding */
  padding: 0 0 0 2em;
}

.markdown-preview-view li {
  /* matching top padding with the Editor's line container */
  padding-top: 0.3em;
}

.markdown-preview-view li p {
  padding: 0;
  margin: 0;
}

/*
 **************************************
 * Block quotes
*/

.cm-s-obsidian .HyperMD-quote {
  padding-left: 3em !important;
}

.cm-s-obsidian .HyperMD-quote .cm-quote {
  color: var(--color-dracula-yellow-ish);
  font-style: italic;
}

.cm-s-obsidian .HyperMD-quote .cm-formatting-quote {
  /* make '>' dimmed, but not invisible */
  color: var(--color-faint-formatting);
}

.cm-s-obsidian .HyperMD-quote:before {
  /* add vertical line */
  position: absolute;
  content: '';
  width: 4px;
  height: 100%;
  left: 1.4em;
  background-color: var(--color-dracula-yellow);
}

.markdown-preview-view blockquote {
  color: var(--color-dracula-yellow-ish);
  border: none; /* reset default box */
  border-left: 4px solid var(--color-dracula-yellow);
  font-style: italic;
  padding: 0 0 0 1.4em;

  /* like paragraphs, plus left margin */
  margin: 0 0 1.5em 1.06em;
}
.markdown-preview-view blockquote > :last-child {
  padding-bottom: 0;
}

/*
 **************************************
 * Bold and italic
*/

.cm-s-obsidian .cm-strong,
.cm-s-obsidian .HyperMD-quote .cm-quote.cm-strong,
.markdown-preview-view strong {
  color: var(--color-dracula-orange);
  font-weight: bold;
}

.cm-s-obsidian .cm-em,
.cm-s-obsidian .HyperMD-quote .cm-quote.cm-em,
.markdown-preview-view em {
  color: var(--color-dracula-yellow);
  font-style: italic;
}

.cm-s-obsidian .cm-formatting-strong,
.cm-s-obsidian .cm-formatting-em {
  font-size: 0.7em;
  vertical-align: text-top;
}

/*
 **************************************
 * Links
*/

.cm-s-obsidian span.cm-link,
.cm-s-obsidian span.cm-hmd-internal-link,
.markdown-preview-view a {
  color: var(--color-dracula-pink);
}

.cm-s-obsidian span.cm-url {
  color: var(--color-dracula-cyan);
}

.cm-s-obsidian span.cm-formatting-link,
.cm-s-obsidian span.cm-formatting-link-string {
  color: var(--text-faint);
}

/*
 **************************************
 * Hashtags
*/

.cm-s-obsidian span.cm-hashtag,
.markdown-preview-view a.tag {
  color: var(--color-dracula-pink);
  background-color: var(--background-primary-alt);
  text-decoration: none;
  border-radius: 0.1875em; /* 3px */
  padding: 0.125em 0.375em 0.1875em 0.375em; /* 2px 6px 3px 6px */
}

.cm-s-obsidian span.cm-hashtag {
  border-radius: 0 0.1875em 0.1875em 0; /* 3px */
  padding-left: 0;

  /* without this line, the vertical padding in .cm-hashtag makes editor's cursor tiny; can fix, can't explain */
  margin: -0.125em 0;
}
.cm-s-obsidian span.cm-hashtag.cm-formatting-hashtag {
  font-family: inherit; /* not monospace */

  border-radius: 0.1875em 0 0 0.1875em; /* 3px */
  padding-left: 0.375em; /* 6px */
  padding-right: 0;
}

/*
 **************************************
 * Inline code
*/

.cm-s-obsidian span.cm-inline-code {
  color: var(--color-dracula-green);
  font-size: 1em;

  /* to conceal "internal" border-radius'es, make the content (code) and the formatting (backticks) overlap */
  margin: 0 -0.125em; /* -2px */
  padding: 0.125em 0 0.1875em 0; /* 2px 0 3px 0 */

  /* to render code content over the overlapping formatting-end */
  position: relative;
  z-index: 2;
}

.cm-s-obsidian span.cm-inline-code.cm-formatting-code {
  color: var(--color-faint-formatting-alt);
  border-radius: 0.1875em; /* 3px */

  z-index: 1;
  margin: 0;
}

.markdown-preview-view code {
  color: var(--color-dracula-green);
  font-size: 1em;
  padding: 0.125em 0.375em 0.1875em 0.375em; /* 2px 6px 3px 6px */
  border-radius: 0.1875em; /* 3px */
}

/*
 **************************************
 * Block code
*/

.cm-s-obsidian .HyperMD-codeblock,
.cm-s-obsidian span.cm-hmd-indented-code {
  color: var(--color-dracula-orange);
  font-size: 1em;
  line-height: 1.375; /* 24px -> 22px */
}

.cm-s-obsidian .HyperMD-codeblock-begin,
.cm-s-obsidian .HyperMD-codeblock-end {
  color: var(--color-faint-formatting-alt);

  /* make backticks small */
  font-size: 0.7em;
  line-height: 1.2;

  /* and move them down a bit */
  position: relative;
  top: 0.4em;
}

.markdown-preview-view pre,
.markdown-preview-view pre[class*="language-"] {
  /* second selector is needed to override typed code blocks without !important */
  font-size: 1em;
  line-height: 1.375; /* 24px -> 22px */
  padding: 0.8125em 1em; /* 13px - to match Editor's top and bottom backtick rows */
  margin: 0 0 1.5em 0; /* like paragraphs */
}

.markdown-preview-view pre code,
.markdown-preview-view pre code[class*="language-"] {
  /* override it again for typed code blocks (e.g., "```js") */
  display: block;
  line-height: 1.375; /* 24px -> 22px */
}

.markdown-preview-view pre code {
  color: var(--color-dracula-orange);
}

/*
 **************************************
 * Thematic breaks
*/

.cm-s-obsidian span.cm-hr {
  color: var(--color-dracula-comment);
  font-weight: bold;
}

.markdown-preview-view hr {
  border-color: var(--color-dracula-comment);

  /* to match Editor's paragraphs, the height must be = 0.6875 + 0.125 + 2.1875 = 3em */
  border-top-width: 0.125em; /* 2px */
  margin: 0.6875em 0 2.1875em 0;
}

/*
 **************************************
 * Tables
*/

.markdown-preview-view th {
  background-color: var(--background-primary-alt);
  font-weight: 600; /* not 800 */
}
